@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* Estilização de componentes */

  /* Datatable (from PrimeReact) */
  .p-datatable-column {
    padding: 0.5rem;
    border-bottom: 2px solid #cdd7f445;
  }
  .p-datatable .p-datatable-thead > tr > th {
    background-color: rgba(161, 161, 170, 0.399);
    padding: 0.5rem;
  }
  .p-datatable > div {
    display: flex;
    width: -webkit-fill-available;
    gap: 1rem;
    padding: 0.25rem;
  }

  /* FileUpload (from PrimeReact) */
  .file-upload > div > span,
  .file-upload > div > button {
    display: flex;
    gap: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #f0f8ff;
  }
  .file-upload > div > button {
    background-color: #ff0060;
  }
  .file-upload > div > span {
    background-color: #ff00c4;
  }
  .file-upload > div > p {
    display: flex;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    background-color: rgba(195, 195, 195, 0.474);
  }

  /*  Register Form*/
  .register-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0.5rem;
    background-color: rgb(161 161 170 / 0.1);
  }
  .register-form div {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    font-weight: 600;
  }
  .register-form div input {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    color: black;
    background-color: #d2e2f7;
    border-radius: 0.25rem;
  }

  /* Graficos */
  .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(161 161 170 / 0.1);
    padding: 1rem;
    border-radius: 1rem;
    height:fit-content
  }
}
